html
{
    background-color:black;
    color:white;
}
body
{
    max-width: 800px;
    margin: auto;
}
.preformat
{
    white-space: pre-wrap;
}
a
{
    color:#88F;
    text-decoration:none;
}
#novel_p, #novel_a
{
    border-bottom: 1px solid gray;
}
p
{
    margin: 0;
    line-height: 165%;
}
h1
{
    font-size: 2.5em;
    text-align: center;
}
h2
{
    font-size: 2em;
    text-align: center;
}
h3
{
    font-size: 1.5em;
    text-align: center;
}
